<form [formGroup]="autenticacao">
    <fieldset>
        <legend>Autenticação</legend>
        <input type="text" formControlName="usuario" placeholder="Usuário">
        <input type="password" formControlName="senha" placeholder="Senha">
    </fieldset>

    <fieldset>
        <legend>Funções</legend>
        <button (click)="register()">Register</button>
        <button (click)="login()">Login</button>
        <button (click)="logout()">Logout</button>
        <button (click)="limpar()">Limpar</button>
    </fieldset>
</form>