<form [formGroup]="pista">
    <fieldset>
        <legend>Consultas</legend>
        <input type="text" formControlName="_id" placeholder="Id">
        <button (click)="consultar()">Consultar</button>
        <button (click)="listar()">Listar</button>
    </fieldset>

    <fieldset >
        <legend>Pista</legend>
        <input type="text" formControlName="nome" placeholder="Nome">
        <input type="number"  formControlName="tamanho" placeholder="Tamanho em km">
        <input type="number" formControlName="boxes" placeholder="Quantidade de boxes">
        <input type="number" formControlName="lugares" placeholder="Quantidade de lugares">
    </fieldset>

    <fieldset formGroupName="endereco">
        <legend>Endereço</legend>
        <div>
            <input type="text" name="cep" id="cep" formControlName="cep" placeholder="CEP">
            <button (click)="pesquisar()">Pesquisar</button>
        </div>
        
        <div>
            <input type="text" formControlName="logradouro" placeholder="Logradouro">
            <input type="text" formControlName="complemento" placeholder="Complemento">
            <input type="number" formControlName="numero" placeholder="Número">
            <input type="text" formControlName="bairro" placeholder="Bairro">
            <input type="text" formControlName="cidade" placeholder="Cidade">
            <input type="text" formControlName="estado" placeholder="Estado">
        </div>
    </fieldset>

    <fieldset>
        <legend>Funções</legend>
        <button (click)="salvar()">Salvar</button>
        <button (click)="atualizar()">Atualizar</button>
        <button (click)="excluir()">Excluir</button>
        <button (click)="limpar()">Limpar</button>
    </fieldset>
</form>

<!-- <table *ngIf="pistas.length">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Tamanho</th>
        <th>Boxes</th>
        <th>Lugares</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pista of pistas">
            <td>{{ pista._id }}</td>
            <td>{{ pista.nome }}</td>
            <td>{{ pista.tamanho }}</td>
            <td>{{ pista.boxes }}</td>
            <td>{{ pista.lugares }}</td>
        </tr>
    </tbody>
</table> -->