<nav>
    <ul>
        <li><a href="#" data-a="Autenticação">Autenticação</a></li>
        <li>
            <label>Cadastro:</label>
            <ul>
                <li><a routerLink="/usuario">Usuário</a></li>
                <li><a routerLink="/pista">Pista</a></li>
                <li><a routerLink="/kart">Kart</a></li>
            </ul>
        </li>
        <li><a href="#" data-a="agendamento">Agendamento</a></li>
        <li><a href="#" data-a="corrida">Corrida</a></li>
        <li><a href="#" data-a="manutencao">Manutenção</a></li>
    </ul>
</nav>
<main>
    <router-outlet></router-outlet>
</main>